
<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do%>
  <div data-controller="tweet-card" data-tweet-path = "<%= tweet_path(tweet_presenter.tweet)%>" class="d-flex tweet py-4 px-3">
    <% avatr = tweet_presenter.avatar %>
    <% unless avatr.attached? %>
      <% avatr = 'user.png' %>
    <%end%>
    <div class="flex-shrink-0"><%= image_tag avatr, class: "rounded-circle", style: 'height:48px; width:48px;'%></div>
    <div class="flex-grow-1 ms-3">

      <p class="mb-0">
        <span class="fw-bolder"><%=tweet_presenter.display_name%></span>
        <span>@<%=tweet_presenter.username%></span> <span><%= tweet_presenter.created_at%></span>
      </p>
      <p class="mb-0 py-2"> <%=tweet_presenter.body%></p>
      <div class="d-flex justify-content-between align-items-center action-links">
          <div>
              <%= link_to "#", data: { "ignore-click":true }, class: "text-decoration-none text-black views" do %>
                <%=image_tag "views.png", size:"20x20", class: "me-1"%>
                <span>Views</span>
              <% end %>
          </div>
      <div>
        <%= link_to  "#",  data: { "ignore-click":true }, class: "text-decoration-none text-black replies" do %>
            <%=image_tag "reply.png", size:"20x20", class: "me-1"%>
            <span> Replies </span>
        <% end %>
      </div>
      <div>
        <%= link_to "#",  data: { "ignore-click":true }, class: "text-decoration-none text-black retweets" do %>
            <%=image_tag "retweet.png", size:"20x20", class: "me-1"%>
            <span> Retweets </span>
        <% end %>
      </div>
      <div>
         <%= link_to tweet_presenter.like_tweet_url,  data: {"turbo-method": tweet_presenter.turbo_data_method, "ignore-click":true}, class: "text-decoration-none text-black likes" do %>
                <%=image_tag tweet_presenter.like_heart_image, size:"20x20", class: "me-1"%>
                <span><%= tweet_presenter.likes_count %></span>
          <% end %>
      </div>
      <div>
        <%= link_to "#",  data: { "ignore-click":true }, class: "text-decoration-none text-black bookmark" do %>
             <%=image_tag "ribbon.png", size:"20x20", class: "me-1"%>
              <span> Bookmark</span>
        <% end %>
      </div>
      <% if tweet_presenter.user==current_user %>
            <span class="ms-3"> <%= button_to 'Delete', 'tweet_delete',  method: :post, params: { tweet_presenter: tweet_presenter.tweet.id },  data: { "ignore-click":true }, class: "btn btn-primary rounded-pill"%></span>
      <% end %>
    </div>
  </div>
<% end %>
